<div class="container">
  <div class="jumbotron">
    <p>Play through the narrative and see how far you can get.</p>
  <div *ngIf="afAuth.user | async as user; else showLogin">
    <p>Welcome, {{ user.displayName }}!</p>
    <button class="btn btn-info" [routerLink]="['/chat']">Go</button>
    <br/><br/>
    <button class="btn" (click)="logout()">Logout</button>
  </div>
  <ng-template #showLogin>
    <p>Please login to continue.</p>
    <button class="btn btn-info" (click)="login()">Login with Google</button>      
  </ng-template>
  </div>
</div>

