html, body
{
    height: 100%;
    min-height: 100%;
    margin: 0;    
    padding: 0;    
    background-color: #f1ebeb !important;
}

#mainheading{
    text-align: center;
    /* display: flex; */
    justify-content:center;
    align-content:center;
    /* flex-direction:column; */

    /* font-size: 3vh; */
    
    background-color: #e8e592;
    margin: 0 auto;
    
    /* height: 5vh; */
    margin-top: 1vh;
    margin-bottom: 1vh;
    
    border-radius: 5px;
}

#inputbar {
    margin-top: 80px;
}



#testdiv {    
    margin: 0 auto;    
    margin-bottom: 1vh;
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    border-radius: 5px;    
    
}

.chatcontainer {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 10px;
    /* font-size: 2vh; */
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.beingname {
    /* font-size: 1.7vh; */
    color: #888;
}


#characterButton {
    margin-top: 20px;
    /* font-size: 2vh; */
}

.characterName {
    float: left;
    margin-left: 10px;    
}

.characterValue {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    
}

/* Prevent input zoom */
input[type='text'],
input[type='number'],
textarea {
    font-size: 16px;
}



/* #infoi {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;    
    
    z-index: 10;
  } */

  .glyphicon-plus-sign {
      padding: 1vh;
      color: yellow;
      font-size: 2vh;
  }

  #login {
      margin-top: 80px;
  }