<div class="container">  
  <h1 id="mainheading">FirstBot</h1>
  <div *ngIf="badConnection" class="alert alert-warning fade in">      
      <strong>Dream Fading!</strong> Weak Connection
    </div>

    <!-- <button (click)="addData()">Add data</button> -->
    <div class="input-group">
      <span class="input-group-addon" (click)="ToggleInfo()"><i class="glyphicon glyphicon-retweet"></i></span>
      <div class="wrapper">
        <input autofocus (keyup)="onKey($event)" class="form-control" [(ngModel)]='inputText' placeholder="Type here" name="firstname" type="text" />
        <!-- <div id="infoi"> Will be used later for switching chats
            <i class="glyphicon glyphicon-plus-sign"></i>
            <i class="glyphicon glyphicon-plus-sign"></i>
        </div> -->
      </div>
      <span class="input-group-addon" (click)='CallBot()'><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
  </div>

  
  
  <div *ngIf="!displayInfo" id="testdiv" #scrollMe [scrollTop]="scrollMe.scrollHeight" >
    <div *ngFor="let message of messages.slice().reverse(); let odd=odd; let even=even" [ngClass]="(even)?'chatcontainer':'chatcontainer darker'"> 
      <p>{{message.currentText}}</p>
      <span class="beingname">{{message.being}}</span>
    </div>
  
  </div> 
  
  <div *ngIf="displayInfo" id="testdiv">     

      <button (click)="startDS('Red')" id="characterButton" class="btn btn-primary btn-block" type="button">
        <span class="characterName">Red</span>
        <span class="characterValue">{{redRelationship}}</span>
      </button>

      <button (click)="startDS('Blue')" id="characterButton" class="btn btn-primary btn-block" type="button">
          <span class="characterName">Blue</span>
          <span class="characterValue">{{blueRelationship}}</span>
      </button>

      <button (click)="startDS('Green')" id="characterButton" class="btn btn-primary btn-block" type="button">
        <span class="characterName">Green</span>
        <span class="characterValue">{{blueRelationship}}</span>
      </button>
  
      
  </div>

  
  
  

</div>