<div class="container-fluid">
  <h1 id="mainheading">FirstBot</h1>

  
  <!-- Need to make alternate containers darker -->
  <div id="testdiv">    
    <!-- <div class="chatcontainer" *ngFor="let message of messages; let odd = odd; let even = even">
      <div *ngIf="even" class="chatcontainer light">
          <p>{{message}}</p>
      </div>      
      <div *ngIf="odd" class="chatcontainer dark">
          <p>{{message}}</p>
      </div>      
    </div> -->

    <div *ngFor="let message of messages; let odd=odd; let even=even" [ngClass]="(even)?'chatcontainer':'chatcontainer darker'"> 
      <p>{{message}}</p>
    </div>
  
  </div>   

  
  
  <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-retweet"></i></span>
      <div class="wrapper">
        <input class="form-control" [(ngModel)]='inputText' placeholder="Type here" name="firstname" type="text" />
        <!-- <div id="infoi"> Will be used later for switching chats
            <i class="glyphicon glyphicon-plus-sign"></i>
            <i class="glyphicon glyphicon-plus-sign"></i>
        </div> -->
      </div>
      <span class="input-group-addon" (click)='CallBot()'><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
  </div>

</div>