
<h1 id="mainheading">FirstBot</h1>

<div id="testdiv">    
   <div class="chatcontainer">
     <p>Welcome to dream sequence #74357. How may I help you?</p>
   </div>

   <div class="chatcontainer darker">
    <p>Welcome to dream sequence #74357. How may I help you?</p>
  </div>
  <div class="chatcontainer">
    <p>Welcome to dream sequence #74357. How may I help you?</p>
  </div>

  <div class="chatcontainer darker">
   <p>Welcome to dream sequence #74357. How may I help you?</p>
 </div>

 <div class="chatcontainer">
  <p>Welcome to dream sequence #74357. How may I help you?</p>
</div>

<div class="chatcontainer darker">
 <p>Welcome to dream sequence #74357. How may I help you?</p>
</div>
<div class="chatcontainer">
  <p>Welcome to dream sequence #74357. How may I help you?</p>
</div>

<div class="chatcontainer darker">
 <p>Welcome to dream sequence #74357. How may I help you?</p>
</div>
 
</div>   

<form>
  <div class="form-group">        
    <input type="text" class="form-control" id="chatinput" aria-describedby="inputhelp" placeholder="Say here">        
  </div>
</form>

