html, body
{
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;    
}

#mainheading{
    text-align: center;   
    background-color: #f2f3b5;
    margin: 0 auto;
    width: 80%;
    height: 20%;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
#chatinput {    
    width: 80%;
    margin: 0 auto;
    align-self: center;
}

#testdiv {    
    margin: 0 auto;
    width: 80%;      
    height: 70vh;    
    background-color: #f9f9dc;
    margin-bottom: 1vh;
}

input[type='text'],
input[type='number'],
textarea {
    font-size: 16px;
}