<div id="creationpanel" class="panel panel-primary">
  <div class="panel-heading">
      Dialogs Here!
  </div>

  <div class="panel-body">
      <form class="form"            
            (ngSubmit)="save()"
            [formGroup]="dialogForm">
          <fieldset>

              <div class="form-group">
                  <label class="control-label" 
                         for="dsname">Dialog Sequence Name</label>

                  <div>
                      <input class="form-control" 
                             id="dsname" 
                             type="text" 
                             placeholder="Dialog Sequence Name (required)"
                             formControlName="dsname"/>                      
                  </div>
              </div>
              
              <div class="form-group">
                <div>
                  <button class="btn btn-primary"
                        (click)="addRegularDialog()">
                        Add Regular Dialog
                  </button>
                </div>
              </div>

              <div class="form-group">
                <div>
                  <button class="btn btn-primary"
                        (click)="addRegularDialog()">
                        Add Compute Node
                  </button>
                </div>
              </div>

              <div ngDraggable id="movingdialog"
              class="panel panel-primary" formArrayName="regularDialogs" *ngFor="let dialog of regularDialogs.controls; let i=index">
                <div>{{i}}</div>
                <div [formGroupName]="i">

                    <div class="form-group">
                      <div>
                          <input class="form-control" 
                                id="{{'being' + i}}"
                                type="text" 
                                placeholder="Being (required)"
                                formControlName="being"/>
                      </div>
                  </div>

                  <div class="form-group">
                      <div>
                          <input class="form-control" 
                                id="{{'response' + i}}"
                                type="text" 
                                placeholder="Response (required)"
                                formControlName="response"/>
                      </div>
                  </div>

                  <div class="form-group">
                        <div>
                            <input class="form-control" 
                                  id="{{'fallback' + i}}"
                                  type="text" 
                                  placeholder="Fallback (required)"
                                  formControlName="fallback"/>
                        </div>
                    </div>

                  <div class="form-group">
                    <div>
                      <button class="btn btn-primary"
                      (click)="addSelector(i)">
                        Add Selector
                    </button>
                    </div>
                  </div>                  

                  <div
                  class="panel panel-primary" formArrayName="selectors" *ngFor="let selector of dialog.controls.selectors.controls; let j=index">
                    <div [formGroupName]="j">
                      <div class="form-group">
                        <div>
                          <span>
                            <input class="form-control"
                            id="{{'statevalue' + i + '(' + j + ')'}}"
                            type="text"
                            placeholder="statevalue"
                            formControlName="statevalue"/>
                          </span>
                          <span>
                              <input class="form-control"
                              id="{{'intent' + i + '(' + j + ')'}}"
                              type="text"
                              placeholder="intent"
                              formControlName="intent"/>
                          </span>
                          <span>
                              <input class="form-control"
                              id="{{'nextid' + i + '(' + j + ')'}}"
                              type="number"
                              placeholder="next id"
                              formControlName="nextid"/>
                          </span>
                            
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>

              <div class="form-group">
                  <div>
                      <span>
                          <button class="btn btn-primary"
                                  type="submit"
                                  [disabled]="!dialogForm.valid">
                              Save
                          </button>
                      </span>
                      <span>
                          <button class="btn btn-default"
                                  type="button"
                                  (click)="populateTestData()">
                              Populate Test Data
                          </button>
                      </span>
                  </div>
              </div>
          </fieldset>
      </form>
  </div>
</div>
<br>Dialog 1: {{regularDialogs.get('0.response')?.value}}
<br>Dirty: {{ dialogForm.dirty }} 
<br>Touched: {{ dialogForm.touched }}
<br>Valid: {{ dialogForm.valid }}
<br>Value: {{ dialogForm.value | json }}